@import 'varibless';
@import 'fonts';
@import 'mixin';

.page-cookies-policy {
  &__head-1 {
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 41px;
    text-transform: uppercase;

    color: $primary-color;

    margin: 40px 0;

    @include media992 {
      margin-top: 51px;
      margin-bottom: 29px;
    }

    @include media768 {
      margin-top: 26px;
      margin-bottom: 24px;

      font-size: 24px;
      line-height: 31px;
    }

    @include media576 {
      margin-top: 32px;
    }
  }

  &__head-2 {
    margin-top: 78px;
    margin-bottom: 16px;

    @include media992 {
      margin-top: 40px;
    }

    @include media768 {
      margin-top: 24px;
    }
  }

  &__head-3 {
    margin: 16px 0;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;

    color: $light;

    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
  }

  &__paragraph {
    font-family: $InterFont;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;

    color: $second-light;

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
  }

  article {
    max-width: 1044px;
  }
}
