@font-face {
  font-family: 'Onest';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/assets/fonts/Onest/WOFF/OnestLight1602-hint.woff') format('woff');
}
@font-face {
  font-family: 'Onest';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/Onest/WOFF/OnestRegular1602-hint.woff') format('woff');
}
@font-face {
  font-family: 'Onest';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/assets/fonts/Onest/WOFF/OnestMedium1602-hint.woff') format('woff');
}
@font-face {
  font-family: 'Onest';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/Onest/WOFF/OnestBold1602-hint.woff') format('woff');
}
