$bg: #1b1f23;
$primary-color: #fff;
$text-color-1: #363a3e;
$second-light: #777989;
$border: 1px solid $second-light;
$border-2: 1px solid $text-color-1;
$bg-transparence-1: $bg;
$accent: #be264c;

$light: #e7e8f0;
$InterFont: 'Inter', serif;
